  .btnMenu{
    display: block;
    background-position: 15px center;
    padding: 20px 15px;
  }
  
  .btnMenu > div{
      width: 32px;
      height: 5px;
      margin: 4px;
      border-radius:4px;
    }

  .btnMenu_open > div{
    background-color: #747c81;
  }

  .btnMenu_close{
    background-color: #747c81;
  }

  .btnMenu_close > div{
    background-color: #ffffff;
  }

  .btnMenu_close .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .btnMenu_close .line2 {
    opacity: 0;
  }
  
  .btnMenu_close .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
  }
